= javascript_include_tag 'vendors.min.js', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'LivIconsEvo.tools.js', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'LivIconsEvo.defaults.js', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'LivIconsEvo.min.js', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'jquery.sticky.js', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'horizontal-menu.js', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'app-menu.js', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'app.js', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'components.js', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'footer.js', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'toastr.min.js', 'data-turbolinks-track': 'reload'
