= javascript_include_tag Ckeditor.cdn_url
= javascript_include_tag 'vendors.min.js'
= javascript_include_tag 'LivIconsEvo.tools.js'
= javascript_include_tag 'LivIconsEvo.defaults.js'
= javascript_include_tag 'LivIconsEvo.min.js'
= javascript_include_tag 'select2.full.min.js'
= javascript_include_tag 'jquery.sticky.js'
= javascript_include_tag 'moment.min.js'
= javascript_include_tag 'daterangepicker.js'
= javascript_include_tag 'horizontal-menu.js'
= javascript_include_tag 'prism.min.js'
= javascript_include_tag 'vertical-menu-light.js'
= javascript_include_tag 'app-menu.js'
= javascript_include_tag 'app.js'
= javascript_include_tag 'components.js'
= javascript_include_tag 'footer.js'
= javascript_include_tag 'toastr.min.js'
= javascript_include_tag 'show_file_name_in_file_field.js'
= javascript_include_tag 'application.js'
= javascript_include_tag 'ckeditor/config.js'
