.thumbnail {
  position: relative;
  display: inline-block;
  z-index: 1;
  padding: 8px;
  transition: all .1s ease-in-out;

  &:hover {
    transform: scale(1.03);
  }
}

.close {
  z-index: 2;
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  opacity: 0.3;
  padding: 16px;
  outline: none;

  &:hover {
    opacity: 1;
  }

  &::before, &::after {
    position: absolute;
    top: 0;
    left: 12px;
    content: '';
    height: 24px;
    width: 2px;
    background-color: #fff;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.background-spinner-container {
  min-height: 300px;
}
