nav.header-navbar.main-header-navbar.navbar-expand-lg.navbar.navbar-with-menu style=("background-color: rgb(242), 244, 244); box-shadow: none;"
  .navbar-wrapper
    .navbar-container.content
      #navbar-mobile.navbar-collapse
