/ - breadcrumbs [\
/   { home: true, url: account_path },\
/   { title: 'Backgrounds' },\
/ ]

/ - content_for :actions do
/   = react_component('NewBackgroundModal', button_text: 'Add New Background')
/
/ = react_component('BackgroundList')
= react_component('Background')

