= simple_form_for channel, url: path do |f|
  = f.input :name, autofocus: true, placeholder: 'Channel Name'
  = f.button :submit, "#{button_text} Channel", class: "btn-primary mt-1 mr-50"
  = link_to 'Back', back_path, class: "btn border mt-1"
