|
  $('.modal-body').html('#{j render('account/device_groups/form', device_group: @device_group, button_text: 'Update Device Group')}');
  $('.modal-title').text('Edit Device Group');
  $('#modalForm').modal('show');
